.editorClassName,
.focusedEditorClassName {
  padding: 10px 30px;
  line-height: 1em;
  height: inherit;
  border-bottom: 2px solid #273c75;
  transition: transform 0.5s;
  transform: translateY(-70px);
}

.focusedEditorClassName {
  box-shadow: 0px 7px 7px -7px #4d90fe;
  transform: translateY(0);
}

.toolbarClassName,
.wrapperClassName {
  background: #e4ecf6;
  flex: 1;
}

.toolbarClassName {
  background: #e4ecf6;
  border: 1px solid #4d4d4d;
  z-index: 5;
  transition: visibility 0s 0.5s;
}

.rdw-option-wrapper,
.rdw-dropdown-wrapper,
.rdw-dropdown-optionwrapper {
  border: 1px solid #4d4d4d;
}
