.editorClassName,
.focusedEditorClassName {
  line-height: 1em;
  height: inherit;
  border-bottom: 2px solid #273c75;
  transition: transform 0.5s;
  transform: translateY(-70px);
  padding: 10px 30px;
}

.focusedEditorClassName {
  box-shadow: 0px 7px 7px -7px #4d90fe;
  transform: translateY(0);
}

.toolbarClassName,
.wrapperClassName {
  flex: 1;
}

.toolbarClassName {
  /*background: #192a56;*/
  /*border: 1px solid #4d4d4d;*/
  background: transparent;
  border: none;
  z-index: 5;
  transition: visibility 0s 0.5s;
  position: relative;
  justify-content: center;
}

.rdw-option-wrapper,
.rdw-dropdown-wrapper,
.rdw-dropdown-optionwrapper {
  border: 1px solid #4d4d4d;
}

.rdw-emoji-modal {
  flex-direction: row;
  width: 200px;
  height: inherit;
  /*width: inherit;*/
}
