/*.editorClassName {
  padding: 10px 30px;
  line-height: 1em;
}

.toolbarClassName,
.wrapperClassName {
  background: #e4ecf6;
}

.rdw-option-wrapper,
.rdw-dropdown-wrapper,
.rdw-dropdown-optionwrapper {
  border: 1px solid #4d4d4d;
}
*/
